<% include partials/header %>
<h2 style=text-align:center>Follow the points to get an insight of Amazonian:-</h2><br>
<h4>1) Sign up</h4><br>
<h4>2) Login</h4><br>
<h4>3) Click Locus to get details of the user's starting and ending loactions.</h4><br>
<h4>4) On clicking Map you can find the shortest route for your destination.</h4><br>
<h4>5) Press Hera to return to hajkhkdjs to main page.</h4><br>

<% include partials/footer %>

</body>
</html>
