<% include partials/header %>
<style>
.container{
    background-color: grey;
    text-align:center;
    margin: auto;
}
</style>
<div class="container">
<h2 style=text-align:center;font-size:50px>Follow the points to get an insight of Amazonian:-</h2><br>
<h3 style=color:black;text-align:left><strong>1) Sign up</strong></h3><br>
<h3 style=color:black;text-align:left><strong>2) Login</strong></h3><br>
<h3 style=color:black;text-align:left><strong>3) Click Locus to get details of the user's starting and ending loactions.</strong></h3><br>
<h3 style=color:black;text-align:left><strong>4) On clicking Map you can find the shortest route for your destination.</strong>></h3><br>
<h3 style=color:black;text-align:left><strong>5) Press Hera to return to hajkhkdjs to main page.</strong>></h3><br>
<% include partials/footer %>
</div>
</body>
</html>
