<% include partials/header %>

<div class="mainDiv" align="left">
        <h1 style=color:green>All Users</h1>
        <table>
            <thread>
                <tr>
                    
                    <td>latitude</td>
                    <td>longitude</td>
                    
                </tr>
            </thread>
            <tbody id="table_body">
    
            </tbody>
        </table>
    
</div>
    



<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "<Google API Key>",
    authDomain: "ians-125d8.firebaseapp.com",
    databaseURL: "https://ians-125d8.firebaseio.com",
    projectId: "ians-125d8",
    storageBucket: "ians-125d8.appspot.com",
    messagingSenderId: "753634335550"
  };
  firebase.initializeApp(config);


	var rootRef=firebase.database().ref().child("location");
	rootRef.on("child_added",snap => {
		
		var lat = snap.child("lat").val();
		var lng = snap.child("lng").val();
		
        $("#table_body").append("<tr><td>" + lat + "</td><td>" + lng );
    });


</script>


<% include partials/footer %>

